<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<%= image_tag('tattered_books.jpg')%>
	<h1>This is the about page	</h1>
	<footer>Go to <%=link_to 'Home', pages_home_path %></footer>
</body>
</html>